{% extends "base.html" %}

{% block title %}Inicio - CampusQuest{% endblock %}

{%block content %}
    <section> 
        <h1>Bem vindo ao CampusQuest!</h1>
        <p>Essa é a página inicial do CampusQuest.</p>

        <div>
            <h2>Resumo Rápido</h2>
            <ul>
                <li>O CampusQuest é uma plataforma de microtarefas para estudantes universitários.</li>
                <li>Os estudantes podem se cadastrar, criar perfis e participar de desafios relacionados a suas áreas de estudo.</li>
                <li>Os desafios são curtos e focados, permitindo que os estudantes aprendam e ganhem recompensas de forma rápida e eficiente.</li>
            </ul>
        </div>
    </section>
{% endblock %}